<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>图简</title>
	<link rel="icon" type="image/x-icon" href="../../images/favorite.ico" />
	<link rel="stylesheet" href="../../css/base.css">
	<link rel="stylesheet" href="../../css/webStyle.css">
	<script src="../../libs/dataAnalysis.js"></script>
	<script src="../../libs/jquery-1.11.1.min.js"></script>
	<script src="../../libs/waterfall/masonry.pkgd.min.js"></script>
	<script src="../../libs/waterfall/imagesloaded.pkgd.min.js"></script>
	<script src="../../libs/jquery.showLoading.min.js"></script>
	<script src="../../libs/jquery.alert.js"></script>
	<script src="../../libs/base64.js"></script>
	<script src="../../libs/vue.js"></script>
	<script src="../../libs/utli.js"></script>
	<script src="./createOpus.js"></script>
	<script src="../../libs/conmonjs/conmon.js"></script>
</head>
<body>
	<div id="webPc">
		<div class="content">
			<div class="sidebar">
				<span class="logo"><img src="../../images/logo.png" alt=""><!-- <h3>图简</h3> --></span>
				<ul>
					<li class="on"><a href="javascript:;">创建作品</a><!-- <img src="../../images/sidebar-right-ico.png" alt=""> --></li>
					<li><a href="./opus.html">我的作品</a></li>
				</ul>
				<div class="master"  onclick="$.turnHref('../master/master.html')">
					<a href="javascript:void(0)">我是大师</a>
				</div>
			</div>
			<div class="layout createdOpus">
				<div class="themeTemDetail">
					<div class="themeDetailIntroduce">
						<span class="title">{{name}}</span>
						<span class="introduce" v-if="keywords">{{keywords}}</span>
						<a class="goBack" @click.stop="closeThemeTem()"><img src="../../images/create-close-icon.png" alt="" width="24" height="24"></a>
					</div>
					
					<div class="homeDesigns themeDetailHot">
						<ul class="masonryLayout" id="themeTemplate">

							<li class="masonryLayoutColumn themeTemplateList" v-for="(index, list) in themeTemLists">
								<div class="designCardThumbnailContainer templateHover">
									<a class="designCardThumbnail" href="javascript:;" @click="jumpModule( list )">
										<div class="designCardThumbnailInside">
											<div class="inside">
												<img :src="list.showImageUrl" alt="">
												<span class="designCardMenuOPop2">
													<span class="designCardMenuCreate">开始创作</span>
												</span>
												<span class="designCardMenuVip" v-if="list.typeVIPUser != 0"></span>
											</div>
										</div>
									</a>
									<div class="designCard__titleSection">
										<span class="designCardTitle" :title="list.text">{{list.text}}</span>
										<span class="designCardTitle" title="未命名设计" v-if="!list.text">未命名设计</span>
										<span class="docTypeItemDimensions">{{list.width}}px × {{list.height}}px</span>
									</div>
								</div>
							</li>

							<li class="masonryLayoutNone" v-if="themeTemLists.length == 0">敬请期待，新的主题！</li>
							
						</ul>
						<div class="offsetLoading moduleTip"></div>
					</div>
				</div>
				<div class="indexClose">
					<div class="opus">
						<div class="top-header">
							<span class="title">创建新的作品</span>
							<button class="createClose" @click="closeDetail()"></button>
							<!-- <button class="size">使用自定义尺寸</button> -->
							<div class="create-size">

									<div class="docTypeCustomInner">
										<div class="tip" v-if="designWidth>5000 || designHeight>5000">值必须小于或等于5000。</div>
										<input type="number" class="docTypeCustomChild textInput" placeholder="宽度" step="any" min="40" max="5000" v-model="designWidth" required="">
										<span class="docTypeCustomChild">×</span>
										<input type="number" class="docTypeCustomChild textInput" placeholder="高度" step="any" min="40" max="5000" v-model="designHeight" required="">
										<span class="docTypeCustomChild">
											<select class="docTypeCustomUnits">
												<option value="PIXELS" selected>px</option>
												<option value="MILLIMETERS">mm</option>
												<option value="INCHES">in</option>
											</select>
											<span class="selectArrow"></span>
										</span>
										<span class="docTypeCustomChild">=</span>
										<button class="docTypeCustomChild docTypeCustomizeButton" @click="design()">设计</button>
									</div>

							</div>
						</div>
						<div class="docTypeAdvanced">
							<div class="docTypeCategory docTypeCategoryOne">
								<h2 class="docTypeCategoryHeader">为你推荐</h2>
								<ul class="docTypeList docTypeRightMore">
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/01.png" alt="" @click="jumpPage(27)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">公众号首图</p>
												<p class="docTypeItemDimensions">900 px × 500 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/02.png" alt="" @click="jumpPage(28)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">公众号封面小图</p>
												<p class="docTypeItemDimensions">200 px × 200 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/03.png" alt="" @click="jumpPage(31)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">文章配图横版</p>
												<p class="docTypeItemDimensions">1080 px × 810 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/304923018.png" alt="" @click="jumpPage(25)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">手机海报</p>
												<p class="docTypeItemDimensions">1080 px × 1920 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/304923018.png" alt="" @click="jumpPage(51)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">朋友圈封面图</p>
												<p class="docTypeItemDimensions">1280 px × 1184 px</p>
											</span>
										</a>
									</li>
									<!-- <li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/304923018.png" alt="" @click="jumpPage(63)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">微博焦点图</p>
												<p class="docTypeItemDimensions">560 px × 260 px</p>
											</span>
										</a>
									</li> -->
									<li class="docTypeItem docTypeMore">
										<a href="javascript:;" @click="docTypeMore()">
											<div class="docTypeItemThumbnail docTypeMoreThumbnail"></div>
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">更多...</p>
												<p class="docTypeItemDimensions" style="opacity: 0;">940 px × 788 px</p>
											</span>
										</a>
									</li>
								</ul>
							</div>
							
							<div class="docTypeCategory">
								<h2 class="docTypeCategoryHeader">社交媒体</h2>
								<ul class="docTypeList">
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/01.png" alt="" @click="jumpPage(27)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">公众号首图</p>
												<p class="docTypeItemDimensions">900 px × 500 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/02.png" alt="" @click="jumpPage(28)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">公众号封面小图</p>
												<p class="docTypeItemDimensions">200 px × 200 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/03.png" alt="" @click="jumpPage(31)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">文章配图横版</p>
												<p class="docTypeItemDimensions">1080 px × 810 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/04.png" alt="" @click="jumpPage(32)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">文章配图方形</p>
												<p class="docTypeItemDimensions">1080 px × 1080 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/08.jpg" alt="" @click="jumpPage(33)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">文章配图竖版</p>
												<p class="docTypeItemDimensions">1080 px × 1440 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/304923018.png" alt="" @click="jumpPage(25)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">手机海报</p>
												<p class="docTypeItemDimensions">1080 px × 1920 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/08.jpg" alt="" @click="jumpPage(41)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">邀请函</p>
												<p class="docTypeItemDimensions">1080 px × 1920 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/304923018.png" alt="" @click="jumpPage(51)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">朋友圈封面图</p>
												<p class="docTypeItemDimensions">1280 px × 1184 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/05.png" alt="" @click="jumpPage(61)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">微博封面电脑版</p>
												<p class="docTypeItemDimensions">920 px × 300 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/05.png" alt="" @click="jumpPage(62)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">微博封面手机版</p>
												<p class="docTypeItemDimensions">640 px × 640 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/304923018.png" alt="" @click="jumpPage(63)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">微博焦点图</p>
												<p class="docTypeItemDimensions">560 px × 260 px</p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/08.jpg" alt="" @click="jumpPage(71)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">二维码</p>
												<p class="docTypeItemDimensions">600 px × 600 px</p>
											</span>
										</a>
									</li>
								</ul>
							</div>

							<div class="docTypeCategory">
								<h2 class="docTypeCategoryHeader">在线印刷</h2>
								<ul class="docTypeList">
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/01.png" alt="" @click="jumpPage(27)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">名片</p>
												<p class="docTypeItemDimensions"></p>
											</span>
										</a>
									</li>
									<li class="docTypeItem">
										<a>
											<img class="docTypeItemThumbnail" src="../../images/demo/02.png" alt="" @click="jumpPage(28)">
											<span class="docTypeItemCaption">
												<p class="docTypeItemName">DM传单</p>
												<p class="docTypeItemDimensions"></p>
											</span>
										</a>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
					
					<div class="homeDesigns hotDocType">
						<h2 class="docTypeCategoryHeader">热门主题</h2>
						<ul class="masonryLayout" id="hotTheme">

							<li class="masonryLayoutColumn hotThemeList" v-for="(index, list) in themeLists">
								<div class="designCardThumbnailContainer">
									<a class="designCardThumbnail" href="javascript:;" @click="themeTemDetail( list )">
										<div class="designCardThumbnailInside">
											<div class="inside">
												<img :src="list.showImageUrl" alt="">
											</div>
										</div>
									</a>
									<div class="designCard__titleSection">
										<span class="designCardTitle" :title="list.name">{{list.name}}</span>
									</div>
								</div>
							</li>

							<li class="masonryLayoutNone" v-if="themeLists.length == 0">敬请期待，新的主题！</li>
							
						</ul>
						<div class="offsetLoading moduleTip"></div>
					</div>
				</div>
		</div>
	</div>
</body>
</html>