@charset utf-8;

body{
	background-color: #ebeced;
}

.header{
	padding-left: 20px;
	height: 55px;
	background: linear-gradient(to right, #38cedc, #5a86e5);
	font-size: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
}
.header .logo{
	float: left;
	width: 438px;
}
.header .logo a{
	color: #fff;
	font-size: 16px;
	line-height: 55px;
}

/* header menu */
	.editorControlsInner{
		line-height: 55px;
	}
	.primaryNavigation{
		float: left;
	}
	.primaryNavigation li{
		float: left;
		margin-left: 50px;
	}
	.primaryNavigation li button{
		color: #fff;
		font-size: 18px;
	}
	.primaryNavigation li button.notOper{
		cursor: default;
		opacity: 0.67;
	}
	.documentTitle{
		float: left;
		color: #fff;
		font-size: 18px;
		max-width: 300px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-left: 50px;
	}
	.documentTitle .text{
		cursor: pointer;
	}
	.documentMenu{
		float: right;
	}
	.documentMenu li{
		float: left;
		margin-right: 50px;
	}
	.documentMenu .editorActionExport, .documentMenu .name{
		color: #fff;
		font-size: 18px;
	}
	.documentMenu .editorActionExport{
		width: 78px;
		height: 33px;
		background-color: rgba(255, 255, 255, 0.2);
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 8px;
	}

/* sidebar */
/* tab-list */
	.content{
		overflow: initial;
	}
	.sidebarTab{
		width: 438px;
		height: 100%;
		box-sizing: border-box;
		background-color: #424a58;
		position: fixed;
		top: 54px;
		left: 0;
		z-index: 1;
	}
	.sidebarBox{
		width: 68px;
		background-color: #282b33;
		position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    text-align: center;
	    z-index: 11;
	}
	.sidebarBox li{
	    transition: all .15s linear;
	}
	.sidebarBox i{
		display: inline-block;
		width: 21px;
		height: 24px;
	    margin: 0 auto 10px;
		background-image: url(../images/design-sidebar.png);
	    background-repeat: no-repeat;
	}
	.sidebarBox a{
		display: flex;
	    width: 68px;
	    height: 82px;
	    padding-top: 17px;
	    box-sizing: border-box;
	    color: rgba(255,255,255,.5);
	    font-size: 14px;
	    text-decoration: none;
	    transition: all .15s linear,opacity 0s linear;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    cursor: pointer;
	}
	.sidebarBox .module i{
	    background-position: 0 0;
	}
	.sidebarBox .image i{
	    background-position: 0 -25px;
	}
	.sidebarBox .font i{
	    background-position: 0 -50px;
	}
	.sidebarBox .background i{
	    background-position: 0 -75px;
	}
	.sidebarBox a:hover{
		color: #578de4;
	}
	.sidebarBox a:hover i{
		background-position-x: -25px; 
	}
	.sidebarBox .on{
		background-color: #424a58;
	}
	.sidebarBox .on a{
		color: #fff;
	}
	.sidebarBox .on a i{
		background-position-x: -50px; 
	}

/* tab-item */
	.tableList{
		padding-right: 5px;
		position: relative;
	    left: 68px;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    overflow: hidden;
	    text-align: center;
	    transition: all .2s linear, opacity .2s linear;
	    opacity: 0;
	    z-index: 100;
	    width: calc(100% - 68px);
	    height: 0;
	}

	.tableList .title{
		display: block;
		margin: 20px auto;
		color: #fff;
		font-size: 16px;
		line-height: 24px;
		width: 280px;
	}
	.tableList.on{
		opacity: 1;
		z-index: 200;
		height: 100%;
	}
	/* 瀑布流下拉详情 */
	.infoPanel{
		display: none;
	    padding: 0 10px 10px;
	    width: calc(100% - 75px);
	    overflow: hidden;
	    margin: 0px 25px;
	    border-top: 1px solid rgba(255,255,255,.2);
	    border-bottom: 1px solid rgba(255,255,255,.2);
	    text-align: left;
	    -webkit-user-select: auto;
	    -moz-user-select: auto;
	    -ms-user-select: auto;
	    user-select: auto;
	    cursor: default;
	    background-color: rgba(0,0,0,.8);
	    border-radius: 4px;
	    z-index: 1;
	    position: absolute;
	    left: 0;
	    top: calc(50% - 200px);
	}
	.infoPanel .delete{
		color: #ccc;
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 20px;
		cursor: pointer;
	}
	.infoPanel .title, .infoPanel .detailType h4{
		line-height: 22px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
	}
	.infoPanel .title{
		margin: 10px 0;
	}
	.infoPanel .detailType+.detailType{
		border-top: 1px solid rgba(255,255,255,.2);
	}
	.infoPanel .detailType{
		padding: 10px 0;
	}
	.infoPanel .detailType a{
		color: #5a87e5;
		line-height: 18px;
		word-break:break-all;
	}
	.infoPanel .detailType>p, .infoPanel .detailType>span{
		color: #ccc;
		font-size: 14px;
		line-height: 18px;
	}
	/* .infoPanel .detailType>span{
		cursor: pointer;
	} */
	.infoPanel .detailType .authorize{
		text-align: right;
		font-size: 14px;
	}
	.infoPanel .detailType .authorize h5{
		color: #3d71f2;
		float: left;
	}
	.resultsSearchInfo{
		top: calc(50% - 200px);
		z-index: 11;
	}


/* tab-item-module */
	.tableListModule .title{
		margin-top: 15px;
	}
	.searchGroup {
		overflow: hidden;
		position: relative;
		opacity: 1;
		transition: .2s ease;
		background-color: #424a58;
	}
	.modeleBox{
		height: calc(100% - 129px);
	}
	.infoPanelGallery{
		padding-top: 20px;
		padding-bottom: 10px;
		min-height: 200px;
		background: #424a58;
		position: relative;
		/* fluffy */
		margin: 0px 25px;
	}
	.itemGallery{
		/* padding: 6px; */
		margin-bottom: 12px;
		width: calc(50% - 6px);
		min-height: 50px;
		box-sizing: border-box;
	    vertical-align: top;
		
		position: absolute;
		top: -500px;
		left: 0;
		/* end fluffy */
		-webkit-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.itemGallery a{
		display: block;
		box-shadow: 0 0 20px 3px rgba(90, 134, 229, 0);
		transition: all 0.5s ease;
	}
	.itemGallery .free{
		border-radius: 3px;
	    padding: 3px 5px;
	    background-color: #fff;
	    color: #3f4652;
	    font-size: 9px;
	    font-weight: 600;
	    line-height: 9px;
	    position: absolute;
	    right: .3em;
	    bottom: .3em;
	    max-width: 90%;
	}
	.itemGallery .vip{
		width: 34px;
		height: 15px;
		background: url(../images/vip.svg) 0 0 no-repeat;
	    position: absolute;
	    right: .3em;
	    bottom: .3em;
	}
	.itemGallery a:hover{
		box-shadow: 0 0 20px 3px rgba(90, 134, 229, 1);
	}
	.itemGallery a:hover .detailInfo{
		opacity: 1;
		bottom: 4px;
	}
	.itemGallery .detailInfo{
		opacity: 0;
		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 17px;
		background-color: rgba(0,0,0,.67);
		color: #fff;
		font-size: 13px;
		border-radius: 50%;
		position: absolute;
		bottom: -18px;
		left: .3em;
		transition: all .2s linear;
	}
	.itemGallery .detailInfo:hover{
		background-color: #00c4cc;
	}
	.modeleBox-item.colWidth{
		width: 100%;
	}

/* tab-item-image */
	.tableListImage{
		/* display: block; */
		width: calc(100% - 68px - 10px);
		padding: 0 5px;
	}
	.tableListImage .search{
		display: block;
		padding: 0 25px;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
	}
	.tableListImage .search input{
		padding-left: 20px;
		padding-right: 40px;
		width: -webkit-calc(100% - 60px);
		width: -moz-calc(100% - 60px);
		width: calc(100% - 60px);
		height: 40px;
		background-color:  #fff;
		border-radius: 8px;
		font-size: 14px;
	}
	.tableListImage .search i{
		display: block;
		width: 30px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		position: absolute;
		right: 30px;
		top: 0px;
		cursor: pointer;
		color: rgba(0,0,0,0.3)
	}
	.tableListImage .search i.iconfont:hover{
		color: rgba(0,0,0,0.6);
	}
	.selectImageType{
		margin: 0 30px;
		padding: 0!important;
		width: calc(100% - 60px);
		left: 0;
		top: 120px;
		z-index: 30;
	}
	.selectImageType ul{
		padding: 7px 0;
	}
	.selectImageType ul li{
		padding: 7px 25px;
		color: #333;
		font-size: 14px;
		cursor: pointer;
		position: relative;
	}
	.selectImageType ul li:hover{
		background-color: #EBECED;
	}
	.selectImageType .iconfont{
		color: #333;
		position: absolute;
		right: 25px;
		top: 7px;
	}
	.resultsSearch{
		text-align: center;
	    margin: 6px 0 0;
	    padding: 0 25px;
	    box-sizing: border-box;
	    width: 100%;
	    z-index: 11;
	}
	.searchFilters ul{
		list-style: none;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: justify;
	    justify-content: space-around;
	    position: relative;
	    z-index: 11;
	    padding: 0 8px;
	    margin: 0 -8px;
	    box-shadow: 0 10px 10px -10px #272c33;
	}
	.searchFilters ul li{
		width: 100%;
		height: 36px;
		line-height: 36px;
		color: #fff;
		font-size: 14px;
		cursor: pointer;
		border-bottom: 1px solid transparent;
		opacity: 0.5;
	}
	.searchFilters ul li:hover{
		border-color: rgba(255,255,255,0.5);
	}
	.searchFilters ul li.active{
		opacity: 1;
		border-color: rgba(255,255,255,1);
	}

	.tableListImage .imageWrapper{
		/* margin-top: 28px; */
		width: calc(100% - 10px);
		height: calc(100% - 211px);
		position: absolute;
	}
	.tableListImage .itemGallery{
		padding: 0;
		width: 100px;
		margin-bottom: 6px;
		/* padding: 3px 3px; */
	}
	.tableListImage .itemGallery a:hover{
		box-shadow: 0 0 10px 3px rgba(90, 134, 229, 1);
	}

/* tab-item-font */
	.tableListFont{
		/* display: block; */
	}
	.fontType li{
		margin: 20px auto;
	}
	.fontType li a{
		color: #fff;
		line-height: 1em;
		cursor: pointer;
	}
	.fontType li .addTitle{
		font-size: 48px;
	}
	.fontType li .addSubTitle{
		font-size: 30px;
	}
	.fontType li .addBody{
		font-size: 18px;
	}

/* tab-item-background */
	.tableListBackground{
		/* display: block; */
	}
	.colorControls{
		padding: 0 25px 0 30px;
		border-radius: 5px;
	}
	.workingPalette, .pinnedPalette{
		margin: 30px 0;
		text-align: left;
	}
	.colorPaletteLabel{ /* h3 */
		color: #fff;
		font-size: 14px;
		margin-bottom: 16px;
	}
	.colorPaletteGroup{ /* ul */
		max-width: 308px;
		border-radius: 4px;
		font-size: 0;
		overflow: hidden;
	}
	.colorPaletteAdd, .colorPaletteEntry {
	    list-style: none;
	    cursor: pointer;
	    width: 44px;
	    height: 44px;
	    box-shadow: inset 1px 1px 0 rgba(0,0,0,.05), inset -1px -1px 0 rgba(0,0,0,.05);
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    color: transparent;
	    background-color: currentColor;
	    display: inline-block;
	    vertical-align: top;
	}
	.colorPaletteAdd:after {
	    content: '+';
	    display: block;
	    top: 0;
	    left: 0;
	    width: 43px;
	    height: 42px;
	    text-indent: 0;
	    font-size: 28px;
	    line-height: 40px;
	    text-align: center;
	    font-weight: 100;
	    color: #fff;
	    z-index: 2002;
	    position: absolute;
	}
	.colorPaletteAdd{
		position: relative;
	    box-sizing: border-box;
		box-shadow: none;
	    border: 1px solid #fff;
	    border-radius: 4px;
	}

/* tab-item-upload */
	.tableListupload{
		display: block;
		z-index: 20;
		width: calc(100% - 78px);
		padding: 0 5px;
	}
	.masonryLayout{
		margin: 0 25px 0px;
		padding-bottom: 10px;
		text-align: left;
		border-bottom: 1px solid rgba(255,255,255,.333);
		box-shadow: 0 10px 10px -10px #272c33;
		position: relative;
	}
	.inlineContentPointer{
		background: #424a58;
	    border: 1px solid rgba(255,255,255,.333);
	    border-width: 1px 1px 0 0;
	    box-sizing: border-box;
	    height: 10px;
	    position: absolute;
	    bottom: -5px;
	    left: 33px;
	    transform: rotate(-45deg);
	    transition: transform .3s ease;
	    width: 10px;
	}
	.masonryLayoutColumn{
		padding-right: 30px;
		width: 33.333%;
		box-sizing: border-box;
	    display: inline-block;
	    vertical-align: top;
	    transition: margin-top .2s ease;
	}
	.uploadsFolder{
		margin-bottom: 10px;
	    position: relative;
	    transition: margin-top .2s,opacity .4s;
	    opacity: .3;
	}
	.uploadsFolder:before, .uploadsFolder:after {
	    content: '';
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    padding-bottom: 100%;
	    box-sizing: border-box;
	    border: 2px solid #656b75;
	    border-radius: 3px;
	    background-color: #535964;
	    box-shadow: 2px 2px 0 rgba(63,70,82,.5);
	    transform: rotate(6deg);
	    transform-origin: 0 150%;
	    z-index: -1;
	}
	.uploadsFolder:before {
	    transition: transform .2s ease;
	}
	.uploadsFolderOpen{
		opacity: 1;
	}
	.uploadsFolderThumbnail {
		cursor: pointer;
	    overflow: hidden;
	    padding-bottom: calc(100% - 4px);
	    position: relative;
	    transform: none;
	    transform-origin: 0 150%;
	    transition: background-color .5s,transform .2s;
	    background-color: #fff;
	    background-image: linear-gradient(45deg,#ddd 25%,transparent 25%),linear-gradient(135deg,#ddd 25%,transparent 25%),linear-gradient(45deg,transparent 75%,#ddd 75%),linear-gradient(135deg,transparent 75%,#ddd 75%);
	    background-position: 0 0,5px 0,5px -5px,0 5px;
	    background-size: 10px 10px;
	    border: 2px solid #fff;
	    border-radius: 3px;
	}
	.uploadsFolderThumbnail>img {
	    left: 50%;
	    position: absolute;
	    padding: 3px;
	    top: 50%;
	    transform: translate3d(-50%,-50%,0);
	    transition: opacity .45s ease;
	}
	.uploadsFolderThumbnailLandscape>img {
	    height: calc(100% + 2px);
	}
	.uploadsFolderName{
	    border-radius: 1px;
	    cursor: pointer;
	    font-size: 12px;
	    line-height: 2;
	    margin-top: 8px;
	    opacity: 1;
	    overflow: hidden;
	    text-align: center;
	    transition: opacity .2s ease;
	    white-space: nowrap;
	}
	.uploadsFolderName>span {
	    display: block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    width: 100%;
	    color: #fff;
	}
	.tableListupload .uploadWrapper{
		width: calc(100% - 10px);
		height: calc(100% - 248px);
		position: absolute;
		/* background: #ccc; */
	}
	.tableListupload .itemGallery {
	    padding: 0;
	    width: 100px;
	    margin-bottom: 6px;
	    /* padding: 3px 3px; */
	}
	.tableListupload .itemGallery a{
		width: 100%;
	}
	.uploadsFolderContent{
		margin: 20px 25px 0px;
		position: relative;
		overflow: hidden;
	}
	.uploadsFolderContent button{
		width: 100%;
		height: 40px;
		background: #5a86e5;
		border-radius: 4px;
		color: #fff;
	}
	.uploadsFolderContent input{
		width: 100%;
	    height: 75px;
	    background: #ccc;
	    position: absolute;
	    top: -30px;
	    left: 0;
	    opacity: 0;
	    cursor: pointer;
	}
	.uploadProgressDel{
		display: none;
		width: 20px;
		height: 20px;
		background: url(../images/upload-del-ico.png) 0 0 no-repeat;
		background-size: 20px 20px;
		position: absolute;
		right: .3em;
		top: .3em;
	}
	.tableListupload .itemGallery:hover .uploadProgressDel{
		display: block;
	}
	.uploadProgressBar{
	    box-sizing: border-box;
	    font-size: 0;
	    height: 8px;
        background-color: #535964;
	    border-radius: 4px;
	    position: absolute;
	    left: 10px;
	    right: 10px;
	    bottom: 5px;
	    overflow: hidden;
	    transition: transform .1s ease-in;
	}
	.uploadProgressBarFill{
		background-color: #99c432;
	    border-radius: 4px;
	    height: 100%;
	    left: -100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    transition: transform .2s ease;
	    width: 9%;
	}

/* sidebar */

/* 弹层-下载 */
	.modalContent{
	    position: fixed;
		bottom: 0;
	    left: 0;
	    right: 0;
	    top: 0;
	    z-index: 1000;
	}
	.modalContentMask{
	    position: absolute;
		bottom: 0;
	    left: 0;
	    right: 0;
	    top: 0;
	    z-index: -1;
		background-color: #000;
		opacity: 0.333;
	    transition: opacity .3s linear;
	}
	.dialog{
		pointer-events: all;
	    display: inline-block;
	    padding: 20px 15px 0;
		pointer-events: all;
	    background-color: #fff;
	    border-radius: 8px;
	    box-sizing: border-box;
	    text-align: left;
	    animation: none;
	    box-shadow: 0 2px 4px rgba(0,0,0,.12);
	    position: absolute;
	}
	.exportPopOver{
	    right: 20px;
	    top: 56px;
		width: 290px;
	}
	.dialog .pointer{
	    width: 14px;
	    height: 14px;
		background: #fff;
	    border-radius: 4px;
	    position: absolute;
	    transform: rotate(45deg);
	    left: calc((50% - 50px) + 0px);
	    top: -6px;
	}
	.downWrapper-header{
		margin-bottom: 20px;
		display: flex;
		align-items: center;
	}
	.downWrapper-header .title{
		flex-grow: 1;
		font-size: 20px;
		cursor: default;
	}
	.downWrapper-header .infoLink{
		flex: 0 0 36px;
		width: 16px;
		height: 16px;
		background: url(../images/design-info-type.png) 0 center no-repeat;
		cursor: pointer;
	}
	.downWrapper-option select{
		padding-left: 19px;
		width: 100%;
		height: 48px;
	    appearance: none; /* 去除选择框样式 */
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    background-color: #fff;
	    border: 1px solid #dcdcdc;
	    border-radius: 4px;
	    background: url(../images/select-ico.png) 92% center no-repeat;
	}
	.downWrapper-option select option{
		padding-left: 19px;
	}
	.downBtn{
		margin: 20px 0;
	}
	.buttonBlock{
		width: 100%;
		height: 50px;
		background: #3d71f2;
		border-radius: 4px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		font-size: 16px;
	}

/* 弹层-文件类型 */
	.fileTypesDialog{
		width: 550px;
		padding-left: 50px;
		padding-right: 50px;
	    top: 50%;
	    right: 50%;
	    transform: translate(50%,-50%);
	}
	.dialog-title{
		padding: 10px 0;
		text-align: center;
		margin-bottom: 10px;
		font-size: 26px;
	}
	.dialog-content{
		padding-bottom: 30px;
	}
	.dialog-content li{
		display: flex;
		align-items: flex-end;
		padding: 16px 0;
	}
	.dialogCont-desc{
		margin-left: 30px;
		font-size: 14px;
	}
	.dialogCont-desc strong{
		margin-right: 10px;
	}
	.dialog-button{
		margin-top: 20px;
		text-align: center;
	}
	.dialog-button button{
		width: 200px;
		height: 45px;
		line-height: 45px;
		background: #3d71f2;
		border-radius: 8px;
		color: #fff;
		font-size: 14px;
	}
	.close{
		width: 12px;
		height: 12px;
		padding: 14px;
		background: url(../images/pop-close-ico.png) center center no-repeat;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
	}

/* 弹层-总价格结算 */
	.fluidDialog{
		width: 570px;
		padding-left: 20px;
		padding-right: 20px;
		color: #333;
	    top: 50%;
	    right: 50%;
	    transform: translate(50%,-50%);
		text-align: center;
	}
	.fluidDialog>div{
		margin-bottom: 20px;
	}
	.fluidDialog .payment{
		max-height: 206px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 0 16px 0px 16px;
		overflow-y: auto;
    	overflow-x: hidden;
		background: #f0f0f0;
		border-radius: 10px;
	}
	.fluidDialog .payment .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background-color: rgba(0,0,0,.2);
	}
	.fluidDialog .payment .itemList{
		padding-bottom: 16px;
		width: 100%;
		border-spacing: 0;
		text-align: left;
	}
	.itemList .thumbnail{
		padding-top: 16px;
		padding-right: 16px;
	}
	.itemList .thumbnail .cover{
		position: relative;
	    width: 50px;
	    height: 50px;
	    overflow: hidden;
	    background-size: cover;
	    background: no-repeat center center;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.itemList .thumbnail .cover img{
		max-width: 50px;
		max-height: 50px;
	}
	.itemList .info{
		width: 100%;
		padding-top: 16px;
		padding-right: 16px;
	}
	.itemList .info>div{
		width: 0;
	    min-width: 100%;
	    line-height: 24px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    vertical-align: middle;
	}
	.itemList .info .by{
		opacity: .6;
	}
	.itemList .select{
		position: relative;
		padding-top: 16px;
	}
	.itemList .price .iconfont{
		font-size: 12px;
		position: absolute;
		right: 8px;
		top: 23px;
		opacity: .6;
		z-index: 0;
	}
	.itemList .price select{
		padding-left: 14px;
		width: 156px;
		height: 24px;
		border: 1px solid #c9c9c9;
		border-radius: 4px;
		background: transparent;
		appearance:none;  /* 清除select右侧默认样式 */
		-moz-appearance:none;
		-webkit-appearance:none;
		cursor: pointer;
		position: relative;
		z-index: 1;
	}
	.itemList .price .vipFree{
		text-align: right;
		margin-top: 8px;
		min-width: 100px;
	}
	.fluidDialog .total{
		padding: 0 20px;
	}
	.fluidDialog .total .color{
		color: #ff0000;
		margin-top: 10px;
	}
	.originalPrice{
		text-decoration: line-through;
		color: #ff0000;
	}
	.originalPrice label{
		color: #666;
	}
	.presentPrice{
		margin-bottom: 10px;
		color: #333;
		font-size: 16px;
		font-weight: bold;
	}
	.gratisDownWrapper .dowm{
		width: 180px;
		height: 45px;
		background: #3d71f2;
		border-radius: 4px;
		color: #fff;
		font-size: 16px;
	}
	.payDownWrapper{
		padding: 0 20px;
		border-top: 1px solid #eee;
	}
	.payDownWrapper .openVip{
		display: block;
		text-align: right;
	}
	.payDownWrapper .openVip a{
		color: #3d71f2;
		font-size: 16px;
		line-height: 38px;
		font-style: italic;
	}
	.payDownWrapper .openVip a em{
		color: #ff0000;
		font-size: 18px;
		font-style: italic;
		font-weight: bold;
		margin: 0 8px;
	}
	.payDownWrapper .mode{
		font-size: 14px;
		text-align: left;
	}
	.payDownWrapper .choice{
		margin: 14px 0;
		font-size: 0;
	}
	.payDownWrapper .choice button{
		display: inline-block;
		padding-left: 64px;
		width: 130px;
		height: 60px;
		border: 2px solid #eee;
		border-radius: 4px;
		font-size: 14px;
		text-align: left;
	}
	.payDownWrapper .choice .alipay{
		background: url(../images/alipay-ico.png) 24px center no-repeat;
	}
	.payDownWrapper .choice .wechat{
		padding-left: 54px;
		margin-left: 16px;
		background: url(../images/wechat-ico.png) 15px center no-repeat;
	}
	.payDownWrapper .choice button.on{
		border-color: #3d71f2;
	}
	.understandInfo a{
		color: #3d71f2;
		margin: 0 12px 0;
		line-height: 1em;
	}
	/* 二维码 */
	.qrCodeWrapper{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.2);
		border-radius: 8px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
	.qrCodeBox{
		width: 300px;
		height: 300px;
		background: #fff;
		border-radius: 10px;
		position: absolute;
	    top: 50%;
	    right: 50%;
	    transform: translate(50%,-50%);
	    text-align: center;
	}
	.qrCodeBox .qrCode{
		width: 100px;
		height: 100px;
		background: #e0e0e0;
		margin: 60px auto 40px;
	}
	.qrCodeBox .price{
		line-height: 38px;
		color: #3d71f2;
		font-size: 16px;
		font-weight: bold;
	}

/* 弹层-设计名称 */
	.descriptionPopOver{
		top: 56px;
		/* left: 680px; */
	}
	.descTitle{
		line-height: 1em;
		margin: -5px 0 8px;
	    font-size: 20px;
	}
	.textInput{
		padding: 10px;
		width: 100%;
	    min-height: 105px;
	    max-height: 500px;
	    box-sizing: border-box;
	    border: 1px solid rgba(0,0,0,.2);
	    border-radius: 5px;
		overflow: visible;
		word-wrap: break-word;
		font-size: 14px;
		line-height: 20px;
	}
	.descTip{
		display: block;
	    padding: 10px 18px;
	    margin: 10px 0 0;
	    background-color: #ffd6d6;
	    border-radius: 4px;
		color: #8c3131;
		font-size: 14px;
		text-align: center;
    	line-height: 20px;
	}
	.descButton{
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;
		height: 50px;
	    background: #3d71f2;
	    border-radius: 4px;
	    line-height: 50px;
	    text-align: center;
	    color: #fff;
	    font-size: 16px;
	}


/* 操作列表 */
	.toolbarWrapper{
		display: none;
		width: 100%;
		height: 45px;
		background: #fff;
		position: relative;
		left: 0;
		top: 0;
		z-index: 3000;
		font-size: 14px;
	}
	.toolbarBox{
		display: none;
		width: auto;
	    position: relative;
	    top: 0px;
	    white-space: nowrap;
	}
	.toolbarList{
		width: auto;
		height: 45px;
		position: relative;
		left: 10px;
		top: 0px;
	}
	.toolbarItem{
	    display: inline-block;
	    margin-right: 8px;
    	width: auto;
		height: 45px;
		position: relative;
	    box-sizing: border-box;
	    opacity: 1;
	}
	.toolbar_item--color{
		box-sizing: border-box;
	    width: 26px;
	    height: 26px;
	    margin-top: 10px;
	    display: inline-block;
	    border: 0;
	    background-color: #fff;
	    background-size: cover;
	    box-shadow: inset 1px 1px 6px rgba(0,0,0,.15), inset -1px -1px 0 rgba(255,255,255,.25);
	    border-radius: 5px;
	    border: none!important;
	    cursor: pointer;
	}
	.toolbarRight{
		position: absolute;
		right: 10px;
		top: 0px;
		z-index: 2;
	}
	.toolbar_button, .toolbar_input, .toolbar_slider {
	    padding: 0 5px;
	    margin: 8px 4px;
	    height: 30px;
	    text-align: center;
	    text-decoration: none;
	    color: #3f4652;
	    border: 1px solid transparent;
	    border-radius: 5px;
	    background-color: transparent;
	    transition: background-color .1s ease,width .1s ease,opacity .1s ease;
	    font-size: 14px;
	    outline: none;
	    box-sizing: border-box;
	}
	.toolbar__button, .toolbar__input, .toolbar__slider {
	    height: 30px;
	    text-align: center;
	    color: rgb(63, 70, 82);
	    background-color: transparent;
	    font-size: 14px;
	    box-sizing: border-box;
	    padding: 0px 5px;
	    margin: 8px 4px;
	    text-decoration: none;
	    border-width: 1px;
	    border-style: solid;
	    border-color: transparent;
	    border-image: initial;
	    border-radius: 5px;
	    transition: background-color 0.1s ease, width 0.1s ease, opacity 0.1s ease;
	    outline: none;
	}
	.toolbar_button:hover{
		border-color: #ccc;
	}
	.toolbarItem.toolbar_oper{
		margin-right: 0px;
	}
	.toolbarItem .transparency{
	    width: 30px;
	    height: 30px;
	    background-position: center center;
	    background-repeat: no-repeat;
    	background-size: 21px 15px;
	    background-image: url(../images/menu-opacity.png);
	}
	.toolbarItem .delete{
		margin-right: 0px;
		width: 30px;
	    height: 30px;
	    background-position: center center;
	    background-repeat: no-repeat;
		background-image: url(../images/trash.svg);
    	background-size: 70%;
	}
	.toolbarFilter{
		padding-left: 8px;
	}
	.cutingBoxbtn{
		padding-left: 8px;
		display: none;
		width: 100%;
		height: 45px;
		background: #fff;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3010;
	}
	.cutingBoxbtn>div .btnOk{
		width: 30px;
	    height: 30px;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 20px 17px;
	    background-image: url(../images/cut-right-ico.svg);
	}
	.cutingBoxbtn>div .btnclose{
		width: 30px;
	    height: 30px;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 16px 17px;
	    background-image: url(../images/cut-error-ico.svg);
	}
	.toolbar--rotate{
		padding: 10px 0px;
		position: absolute;
	    top: 60px;
	    left: 0;
	    background: white;
	    border-radius: 5px;
		visibility: visible;
		z-index: 2;
	    border: none;
	    box-shadow: 0 0 0 2px rgba(63,70,82,.15);
	    display: inline-block;
	    white-space: nowrap;
	    transform-origin: 20px 0;
	    pointer-events: all;
	    animation: toolbar--fadeIn .2s cubic-bezier(.23,1,.32,1);
	    opacity: 1;
	    transition: visibility 0s linear 0s;
	    height: auto;
	}
	.rotateBtn{
		display: none;
	}
	.toolbar--rotate li{
		display: block;
		background-repeat: no-repeat;
	    padding-left: 3em;
	    padding-right: 16px;
	    width: 100%;
	    height: 30px;
	    line-height: 30px;
	    text-align: left;
	    margin: 0;
	    border-radius: 0;
	    border: none;
	    cursor: pointer;
	}
	.toolbar--rotate li.routerX{
		background-size: 14px 9px;
		background-position: 20px center;
		background-image: url(../images/rotate-vertical-ico.png);
	}
	.toolbar--rotate li.routerY{
		background-size: 9px 14px;
		background-position: 22px center;
		background-image: url(../images/rotate-level-ico.png);
	}


	#overlays{
		position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    z-index: 2;
	    overflow: visible;
	    color: #eee;
	}
	#overlays .colorControls{
		width: 253px;
		height: 300px;
	    margin-top: 30px;
		position: fixed;
		top: 86px;
		background: #fff;
		box-shadow: 0 0 0 2px rgba(63,70,82,.15);
		padding-left: 15px;
		padding-right: 0px;
		box-sizing: border-box;
	}
	.scrollElement{
		padding: 15px 0;
		height: calc(100% - 30px);
	    overflow: hidden;
	    padding-right: 8px;
	    direction: ltr;
	}
	.scrollElement .colorPaletteLabel{
		color: rgba(63,70,82,.4);
	}
	.scrollElement .workingPalette{
		margin-top: 0px;
	}
	.scrollElement .pinnedPalette{
		margin: 0px;
	}
	#overlays .mCSB_dragger_bar{
		background-color: rgba(0,0,0,0.4);
	}
	.scrollableWrapper::before, .toolbar::before{
		content: ' ';
	    display: block;
	    position: absolute;
	    top: -9px;
	    left: 14px;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 9px 9px;
	    border-color: transparent transparent white;
	    z-index: 2;
	}
	.scrollableWrapper::after, .toolbar::after{
		z-index: 1;
	    top: -12px;
	    left: 13px;
	    border-style: solid;
	    content: ' ';
	    position: absolute;
	    border-color: transparent transparent rgba(63,70,82,.15);
	    border-width: 0 10px 10px;
	}
	.scrollableWrapper .colorPaletteAdd{
		border-color: #999;
	}
	.scrollableWrapper .colorPaletteAdd:after {
	    content: '+';
	    color: #999;
	}
	.colorPicker{
		display: none;
		padding: 10px;
		width: 195px;
		background: #fff;
		box-shadow: 0 0 0 2px rgba(63,70,82,.15);
		border-radius: 8px;
		position: fixed;
	}
	.colorPicker .colorText{
		color: #333;
		font-size: 14px;
		height: 30px;
    	line-height: 30px;
    	margin-bottom: 10px;
	}
	.colorPicker .colorText input{
	    padding: 0 10px;
	    height: 28px;
	    width: 116px;
		border: 1px solid #ddd;
	    border-radius: 4px;
	}
	/* 调色板 */
		.farbtastic {
		  position: relative;
		}
		.farbtastic * {
		  position: absolute;
		  cursor: crosshair;
		}
		.farbtastic, .farbtastic .wheel {
		  width: 195px;
		  height: 195px;
		}
		.farbtastic .color, .farbtastic .overlay {
		  top: 47px;
		  left: 47px;
		  width: 101px;
		  height: 101px;
		}
		.farbtastic .wheel {
		  background: url(../images/farbtastic/wheel.png) no-repeat;
		  width: 195px;
		  height: 195px;
		}
		.farbtastic .overlay {
		  background: url(../images/farbtastic/mask.png) no-repeat;
		}
		.farbtastic .marker {
		  width: 17px;
		  height: 17px;
		  margin: -8px 0 0 -8px;
		  overflow: hidden; 
		  background: url(../images/farbtastic/marker.png) no-repeat;
		}

	/* 透明度 */
		.toolbar--transparency::before{
			left: auto;
			right: 14px;
		}
		.toolbar--transparency::after{
			left: auto;
			right: 13px;
		}
		.toolbar--transparency{
			display: none;
			padding: 0px 8px;
		    position: absolute;
		    top: 60px;
		    right: 0px;
		    z-index: 2;
		    box-shadow: rgba(63, 70, 82, 0.15) 0px 0px 0px 2px;
		    background: white;
		    border-radius: 5px;
		    border-width: initial;
		    border-style: none;
		    border-color: initial;
		    border-image: initial;
		    visibility: visible;
		    pointer-events: all;
		    height: auto;
		    animation: toolbar--fadeIn 0.2s cubic-bezier(0.23, 1, 0.32, 1);
		    transition: visibility 0s linear 0s;
		}
		.toolbar__item--slider{
			position: relative;
		    width: auto;
		    box-sizing: border-box;
		    vertical-align: top;
		    opacity: 1;
		    display: flex;
		    height: 30px;
		    padding: 0px 4px;
		    margin: 8px 0px;
		    text-align: center;
		}
		.toolbar__label {
		    box-sizing: border-box;
		    padding: 5px 0px;
		}
		.toolbar__item--slider .toolbar__label {
		    min-width: 80px;
		}
		.toolbar__item--slider .toolbar__label {
		    flex-grow: 1;
		}
		.toolbar__sliderWrapper {
		    position: relative;
		    display: inline-block;
		    margin: 0px 10px;
		}
		.toolbar__sliderBackground {
		    position: absolute;
		    left: 0px;
		    right: 0px;
		    height: 2px;
		    top: 50%;
		    margin-top: -1px;
		    background-color: rgba(0, 0, 0, 0.15);
		}
		.toolbar__slider {
		    position: relative;
		    width: 150px;
		    -webkit-appearance: none;
		    background: transparent;
		    margin: 0px;
		    padding: 0px;
		}
		.toolbar__label, .toolbar__slider, .toolbar__sliderValue {
		    display: inline-block;
		    vertical-align: middle;
		}
		.toolbar__sliderValue {
			width: 3em;
		    text-align: center;
		    margin-right: -1em;
		    border-radius: 5px;
		}
		.toolbar__sliderValue:disabled {
		    user-select: none;
		    background-color: transparent;
		    border-width: 0px;
		    border-style: initial;
		    border-color: initial;
		    border-image: initial;
		}


/* oper */
	.documentContainer{
		position: fixed;
		top: 55px;
		left: 438px;
		width: calc(100% - 438px);
		bottom: 0px;
	}

.finalTip{
	display: none;
	padding: 0 30px;
	min-width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0,0,.4);
	border-radius: 8px;
	color: #fff;
	font-size: 16px;
	position: fixed;
	left: 50%;
	top: 100px;
	z-index: 6000;
}
.noneTip{
  text-align: center;
  line-height: 50px;
  color: #ccc;
  font-size: 26px;
  cursor: default;
}
.noneTip2{
  text-align: center;
  line-height: 36px;
  color: #ccc;
  font-size: 22px;
  cursor: default;
}