@charset "utf-8";

/* login */
.login .login-bg{width: 100%; height: 100%;position: fixed;}
.login .login-main{ width: 403px;background: #fff; border-radius: 8px;box-shadow: 0 26px 65px #9da5ad;position: fixed; left: 50%; top: 20%; margin-left: -201px;z-index: 2;}
.login-main .login-title{padding: 35px 0; text-align: center;color: #000;font-size: 24px;}
.login-main .login-input{padding-left: 42px;}
.login-main .login-input .input-box{ position: relative; width: 298px;height: 35px;  padding: 10px 0 0 22px; margin-bottom: 35px; /* border: 1px solid #dcdcdc; */ box-shadow: 0 1px 0 0 #d8d5d5; border-radius: 8px;}
.login-main .login-input .input-box input{outline: none;width: 94%;font-size: 16px;}
.login-main .login-input .input-box .tips{position: absolute; top: 50px;left: 0;color:#d74c4c;font-size: 14px;}
.login-main .login-input .oper-btn{width: 320px;margin-bottom: 35px;}
.login-main .login-input .oper-btn .checkbox{display: inline-block;cursor: pointer;user-select:none;font-size: 14px;}
.login-main .login-input .oper-btn .checkbox span{display: inline-block; margin-right: 8px; margin-top: -2px; width: 15px;height: 15px;background: url('../images/login-check.png') 0 0 no-repeat; vertical-align: middle;}
.login-main .login-input .oper-btn .checkbox:hover span{background-image: url('../images/login-check-hover.png');}
.login-main .login-input .oper-btn .checkbox span.on{background-image: url('../images/login-checked.png');}
.login-main .login-input .oper-btn .forget{float: right; color: #7c83fe;font-size: 14px;}
.login-main .login-btn{width: 320px;height: 45px;margin: 0 auto 35px;line-height: 44px;background: #7c83fe;border-radius: 8px;color: #fff;font-size: 22px;text-align: center;cursor: pointer;}
.login-main .to-register{margin: -19px auto 35px;color: #666;font-size: 14px;text-align: center;}
.login-main .to-register a{color: #7c83fe;}


/* 注册 */
.login-main .login-input .agree{
	margin-bottom: 16px;
	width: 320px;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.login-main .login-input .agree a{
	color: #7c83fe;
}
.register .login-main .login-input .input-box{
	margin-bottom: 31px;
}

.login-main .login-input .input-box.u-userCode input{
	width: 150px;
}
.login-main .login-input .input-box.u-userCode button{
	float: right;
	line-height: 21px;
	margin-right: 14px;
	color: #ccc;
}
