@charset utf-8;

.createdOpus{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 300px);
    min-height: 100%;
    background: #fff;
    overflow-y: auto;
}
.opus{
	padding: 0 80px;
    background: linear-gradient(to top, #38cddc, #5a89e5);
    /*height: 280px;*/
    overflow: hidden;
    transition: all .5s linear;
}
.top-header{
	color: #fff;
	padding-top: 30px;
	margin-bottom: 30px;
}
.top-header .title{
	text-align: left;
	font-size: 24px;
	line-height: 24px;
}
.top-header .size{
	float: right;
	width: 125px;
	height: 40px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
}
.top-header .createClose{
	/*float: right;*/
	display: none;
	/*margin-left: 18px;*/
	width: 40px;
	height: 40px;
	background: url(../images/create-close-icon.png) 0 0 no-repeat;
    position: fixed;
    right: 50px;
    top: 30px;
}
/* 创建作品列表 */
.docTypeAdvanced{
	padding-bottom: 0px;
	width: 100%;
	/* overflow: hidden; */
	transition: opacity .5s linear,width .5s;
	height: 220px;
}
.docTypeCategory+.docTypeCategory{
	margin-top: 20px;
	border-bottom: 1px solid rgba(210, 210, 210, 0.3);
}
.docTypeCategoryHeader{
	margin-top: 60px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.docTypeList{
	/* margin-left: 80px; */
	margin-left: -10px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	overflow: hidden;
	width: calc(100% + 2ex);
	transition: all .3s linear;
}
.docTypeRightMore{
	width: auto;
	position: relative;
}
.docTypeItem{
	text-align: center;
	margin: 10px 10px 20px;
    transition: all .3s linear;
}
.docTypeItem a{
	display: block;
	color: #fff;
}
.docTypeItemThumbnail{
	display: block;
	max-width: 120px;
	max-height: 120px;
	margin: 0 auto;
	box-shadow: 0 9px 31px rgba(28, 121, 150, 0.5);
}
.docTypeMoreThumbnail{
	position: relative;
    border: 2px dashed white;
    border-radius: 4px;
    box-shadow: none;
    height: 80px;
    text-indent: -9999px;
    width: 80px;
    transition: all .3s linear;
}
.docTypeMoreThumbnail:after {
    content: '+';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 56px;
    font-family: Open Sans,sans-serif;
    line-height: 80px;
    text-indent: 0;
    text-align: center;
    font-weight: normal;
}
.docTypeMoreThumbnail:hover{
	border-style: solid;
}
.docTypeItemCaption{
	display: block;
	padding-top: 14px;
	white-space: nowrap;
}
.docTypeItemDimensions{
	opacity: 0;
	padding-top: 8px;
	font-size: 12px;
}
.docTypeItem:hover .docTypeItemDimensions{
	opacity: 1;
}

.createdOpus.toDetail .opus{
	height: auto;
}
.createdOpus.toDetail .docTypeCategoryOne{
	display: none;
}
.createdOpus.toDetail .hotDocType{
	display: none;
}
.createdOpus.toDetail .top-header{
	margin-bottom: 0;
}
.createdOpus.toDetail .top-header .createClose{
	display: block;
}

/* 热门主题 */
.hotDocType{
	padding: 0 80px;
	background: #fff;
	padding-top: 30px!important;
	overflow: hidden;
}
.hotDocType .docTypeCategoryHeader{
	color: #000;
	margin: 0;
}



/* my opus */
/* .myOpus{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, #38cddc, #5a89e5);
} */
.homeDesigns {
	/* display: none; */
	padding: 0px 50px 60px 50px;
	min-height: 300px;
	position: relative;
	opacity: 1;
	transition: .2s ease;
	background-color: #f7f7f7;
}
.masonryLayout{
	margin-bottom: 30px;
	position: relative;
	/* fluffy */
	margin: 0 auto;
	/* width: 98%; */
	/* end fluffy */
}
.masonryLayoutColumn{
	min-width: 120px;
	width: calc((100% - 90px) / 4);
	box-sizing: border-box;
    vertical-align: top;
	
	position: absolute;
	top: -600px;
	left: 0;
	/* end fluffy */
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.designCardThumbnailContainer{
	margin-top: 35px;
	margin-bottom: 14px;
	text-align: center;
	cursor: default;
}
.templateType{
	color: #000;
	font-size: 12px;
	margin-bottom: 20px;
	padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.designCardThumbnail{
	width: 100%;
	max-height: 240px;
	display: block;
	position: relative;
	cursor: default!important;
}
.designCardThumbnailInside{
	width: auto;
    height: auto;
    max-height: 240px;
	box-sizing: border-box;
	display: flex;
    align-items: center;
    justify-content: center;
}
.designCardThumbnailInside .inside{
	overflow: hidden;
	box-shadow: 0 5px 12px #b9b9ba;
	position: relative;
	cursor: pointer;
}
.designCardThumbnailInside .inside:hover .designCardMenuOPop, .designCardThumbnailInside .inside:hover .designCardMenuOPop2{
	display: block;
}
.designCardThumbnailInside .inside:hover img{
	transform: scale(1.1);
}
.designCardThumbnail img{
	width: auto!important;
	max-width: 100%;
	max-height: 240px;
	transition: all .3s; 
}
.designCardMenuOPop{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
}
.designCardMenuOPop button{
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 12px;
}
.designCardMenuCopy{
	left: 16px;
	background: url(../images/opus-copy.png) 0 0 no-repeat;
}
.designCardMenuDel{
	right: 16px;
	background: url(../images/opus-del.png) 0 0 no-repeat;
}
.designCardMenuCopy:hover:before{
	content: '复制';
	display: block;
    position: absolute;
    top: -4px;
    left: 22px;
    padding: 6px 8px;
    border-radius: 2px;
    background: rgba(0,0,0,.4);
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    z-index: 2;
}
.designCardMenuDel:hover:before{
	content: '删除';
	display: block;
    position: absolute;
    top: -4px;
    left: -44px;
    padding: 6px 8px;
    border-radius: 2px;
    background: rgba(0,0,0,.4);
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    z-index: 2;
}
.designCardMenuWrite{
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,.6) url(../images/opus-edit.png) center center no-repeat;
	border-radius: 4px;
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
}
.designCardMenuOPop2{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(90, 138, 229, .65);
	position: absolute;
	left: 0;
	top: 0;
}
.designCardMenuCreate{
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: calc(50% - 32px);
	top: calc(50% - 7px);
}
.designCardMenuVip{
	width: 42px;
	height: 42px;
	background: url(../images/VIP-ico.png) 0 0 no-repeat;
	position: absolute;
	top: -1px;
	right: -1px;
}
.designCard__titleSection{
    font-size: 14px;
    margin: 0;
    overflow: auto;
    padding: 20px;
    position: relative;
    white-space: normal;
}
.designCard__titleSection span{
	text-align: center;
	display: block;
}
.designCardTitle{
	width: 100%;
	color: #000;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    line-height: 1em;
}
.designCardTime{
	font-size: 12px;
	opacity: .6;
	margin-top: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.masonryLayoutNoneBox{
	position: fixed;
	left: 300px;
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to top, #38cddc, #5a89e5);
}
.my-opus-bg{
	position: absolute;
	left: calc(50% - 380px);
	top: calc(50% - 250px);
	opacity: .05;
}
.masonryLayoutNone{
	color: #fff;
	line-height: 1em;
	position: absolute;
	left: calc(50% - 270px);
	top: 40%;
}
.masonryLayoutNone h2{
	font-size: 36px;
	margin-bottom: 50px;
}
.masonryLayoutNone p{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}



/* 自定义尺寸 */
	.create-size{
		background-color: rgba(0,0,0,.5);
		width: 100%;
		height: 362px;
		position: absolute;
		left: 0px;
		top: 0;
		z-index: 1;
		display: none;
	}
	.docTypeCustomInner{
		display: block;
		width: 490px;
		font-size: 0;
		position: relative;
		left: calc(50% - 245px);
		top: 150px;
	}
	.docTypeCustomInner .tip{
		padding: 0 16px;
		height: 40px;
		line-height: 40px;
		border-radius: 4px;
		background: #fff;
		color: #333;
		font-size: 14px;
		position: absolute;
		left: -30px;
		top: 54px;
	}
	.docTypeCustomInner .tip:before{
		content: ' ';
		display: block;
		position: absolute;
		top: -9px;
		left: 38px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 9px;
		border-color: transparent transparent white;
		z-index: 2;
	}
	.docTypeCustomChild{
		display: inline-block;
		vertical-align: middle;
	    margin: 0 6px;
	    font-size: 16px;
	}
	span.docTypeCustomChild{
		font-size: 14px;
	}
	.docTypeCustomChild.textInput{
		padding-left: 10px;
		width: 100px;
		height: 40px;
		background-color: #fff;
		border-radius: 4px;
		color: #000;
		text-align: center;
	}
	.docTypeCustomUnits{
		padding-left: 20px;
		width: 90px;
		height: 40px;
		border: 2px solid #fff;
		background-color: transparent;
		color: #fff;
		-webkit-appearance: none;
		background: url(../images/select-ico.png) 70px center no-repeat;
	}
	.docTypeCustomUnits option{
		color: #999;
	}
	.docTypeCustomizeButton{
		width: 80px;
		height: 40px;
		background-color: #3d71f2;
		border-radius: 4px;
		color: #fff;
	}

.offsetLoading{
	background-color: #f7f7f7;
}
.closeListBox{
     width: 32px; 
     height: 32px; 
     border-style: solid; 
     border-radius: 50%; 
     transform: rotate(135deg);
     box-sizing: content-box;
    position: fixed;
    opacity: 1;
    z-index: 1; 
    right: 20px;
    top: 22px;
}
.closeListBox-1{
	border-radius: 50%;
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 5px;
    opacity: 0;
    transition: all .5s ease,opacity .15s ease-out;
}
.closeListBox-2{
	position: absolute;
    left: -5px;
    top: -28px;
    width: 100%;
    height: 100%;
    font-size: 56px;
    font-family: Open Sans,sans-serif;
    line-height: 80px;
    text-indent: 0;
    text-align: center;
    font-weight: 200;
}
.master{
	position: fixed;
	bottom: 160px;
	left: 50px;
	width: 200px;
	height: 45px;
	line-height: 45px;
	background: #7c83fe;
	text-align: center;
	color: #fff;
	border-radius: 7px;
	cursor: pointer;
}
.master a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}


/* 主题详情 */
	.themeDetailHot{
		padding-top: 25px;
	}
	.themeDetailIntroduce{
		padding: 0 80px;
		background: #5a8ae5;
		position: relative;
	}
	.themeDetailIntroduce span{
		display: block;
		line-height: 1.4em;
		color: #fff;
	}
	.themeDetailIntroduce span.title{
		font-size: 22px;
		padding: 30px 35px 30px 0;
	}
	.themeDetailIntroduce span.introduce{
		padding-bottom: 30px;
	}
	.themeDetailIntroduce .goBack{
		position: absolute;
		right: 80px;
		top: 33px;
	}
	.templateHover{
		cursor: pointer;
	}
	.templateHover:hover .docTypeItemDimensions{
		opacity: 1;
	}

	.themeTemDetail{
		/* position: absolute; */
		display: none;
		width: 100%;
	}