<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>图简</title>
	<link rel="icon" type="image/x-icon" href="../../images/favorite.ico" />
	<link rel="stylesheet" href="../../css/base.css">
	<link rel="stylesheet" href="../../css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="../../libs/iconfont/iconfont.css">
	<link rel="stylesheet" href="../../css/design.css">
	<link rel="stylesheet" type="text/css" href="../../libs/workcss/work.css"/>
	<link rel="stylesheet" type="text/css" href="../../libs/workcss/zoom.css"/>
    <link rel="stylesheet" type="text/css" href="../../libs/workcss/fontPage.css"/>
	<!--<link rel="stylesheet" type="text/css" href="../../libs/workcss/font.css"/>-->
	<script src="../../libs/dataAnalysis.js"></script>
	<script src="../../libs/jquery-1.11.1.min.js"></script>
	<script src="../../libs/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../../libs/eventie.js"></script>
	<script src="../../libs/waterfall/masonry.pkgd.min.js"></script>
	<script src="../../libs/waterfall/imagesloaded.pkgd.min.js"></script>
	<script src="../../libs/jquery.showLoading.min.js"></script>
	<script src="../../libs/jquery.alert.js"></script>
    <script type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js"></script>
    <script type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js"></script>
    <script src="../../libs/workjs/canvg.js"></script>
	<script src="https://cdn.bootcss.com/jspdf/1.3.5/jspdf.debug.js"></script>
	<script src="../../libs/base64.js"></script>
	<script src="../../libs/vue.js"></script>
	<script src="../../libs/utli.js"></script>
	<script src="../../libs/farbtastic.js"></script>
	<script src="../../libs/workjs/rotate.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../libs/workjs/json.js" type="text/javascript" charset="utf-8"></script>
	<script src="./design.js"></script>
	<script src="./downImg.js"></script>
	<script src="svg.js"></script>
	<script src="./downpay.js"></script>
	<script src="../../libs/workjs/scale.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../libs/workjs/transform.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../libs/workjs/zoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../libs/workjs/grid.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/work.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/text.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/zoomtext.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/progress.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/konva.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/jQuery-FontSpy.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/webfontloader.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/drag-add.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/workjs/html2canvas.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/conmonjs/conmon.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
    @font-face { font-family: 'STXianhei'; url('../../libs/font/STXianhei.ttf'); font-weight: normal; }
    @font-face { font-family: 'AbrilFatface'; url('../../libs/font/AbrilFatface.ttf'); font-weight: normal; }
</style>
<body>
<div id="webPc">
    <section class="header">
        <div class="logo"><a href="../index/createOpus.html">PHOTO</a></div>
        <div class="editorControlsInner">
            <ul class="primaryNavigation">
                <!--<li><button id="documentFileMenuUndoButton" class="historyOperation notOper">撤销</button></li>
                <li><button id="documentFileMenuRedoButton" class="historyOperation">恢复</button></li>-->
                <li><span class="saveType" style="font-size: 16px;color: #fff;">未进行任何更改</span></li>
            </ul>
            <h1 class="documentTitle">
                <span class="text" title="单击以重命名你的设计" @click="flagTitleBox()">{{demoName}}</span>
            </h1>
            <ul class="documentMenu fix">
                <li><button class="editorActionExport" v-on:click="downFlag = !downFlag">下载</button></li>
                <li><span class="name">{{nickName}}</span></li>
            </ul>
        </div>
    </section>

	<div class="content">
        <section class="sidebarTab">
			<ul class="sidebarBox">
				<li class="module on"><a><i></i>模版</a></li>
				<li class="image"><a @click="oneClickImage && getImageLists()"><i></i>图片</a></li>
				<li class="font"><a><i></i>文字</a></li>
				<li class="background"><a><i></i>背景</a></li>
				<li class="uploadmy"><a @click="onClickUpload && getUploadLists()"><i></i>上传</a></li>
			</ul>
			<section class="tableList tableListModule">
				<span class="title">{{moduleType.name}}<br>{{moduleType.width}}*{{moduleType.height}}</span>
				<div class="searchGroup modeleBox">
					<ul class="infoPanelGallery" id="moduleList">

						<li class="itemGallery modeleBox-item" :class="moduleType.col==1?'colWidth':''" :style="{height: moduleType.height2+'px'}" v-for="list in moduleList">
							<a>
								<img :src="list.showImageUrl" alt="" width="" height="" style="width: 100%" @click.stop="setDataUrl(list.dataUrl)">
								<!-- <span class="free" v-if="list.priceUser==0">免费</span> -->
								<span class="vip" v-if="list.typeVIPUser==1"></span>
								<div class="detailInfo moduleDetail iconfont icon-C" title="显示更多信息" @click="moduleDetail($event, list)"></div>
							</a>
						</li>
						
					</ul>
					<div class="offsetLoading moduleTip"></div>
				</div>
				<div class="infoPanel mosuleInfoWrap">
					<span class="delete iconfont icon-quxiao" @click.stop="closeDetailInfo($event)"></span>
					<h3 class="title">{{moduleInfo.text}}（{{moduleInfo.source}}）</h3>
					<div class="detailType">
						<h4>名称</h4>
						<p>{{moduleInfo.text}}</p>
					</div>
					<div class="detailType">
						<h4>ID</h4>
						<a class="idColor">{{moduleInfo.templateID}}</a>
					</div>
					<div class="detailType">
						<h4>价格</h4>
						<p v-if="moduleInfo.priceUser==0">免费</p>
						<p v-if="moduleInfo.priceUser!=0">￥ {{moduleInfo.priceUser}}.00</p>
					</div>
					<div class="detailType">
						<h4>关键词</h4>
						<p>
							<span>{{moduleInfo.keywords}}</span>
						</p>
					</div>
				</div>
			</section>
			<section class="tableList tableListImage">
				<span class="title">图片</span>
                <span class="search"><input type="text" name="search_img" placeholder="快来搜索海量图片吧！" v-model="keywords"><i class="iconfont icon-xiala" @click.stop="toggleSelectType()"></i></span>
                <div class="dialog selectImageType" style="display: none;">
                    <ul>
                        <li data-current="0" @click="swichNavType($event)">综合<i class="iconfont icon-xuanzhong" v-if="imageCurrentType==0"></i></li>
                        <li data-current="1" @click="swichNavType($event)">视觉中国<i class="iconfont icon-xuanzhong" v-if="imageCurrentType==1"></i></li>
                        <li data-current="2" @click="swichNavType($event)">花瓣<i class="iconfont icon-xuanzhong" v-if="imageCurrentType==2"></i></li>
                    </ul>
                </div>

				<div class="resultsSearch">
					<div class="searchFilters">
						<ul>
							<li v-if="imageCurrentTab==-1" data-current="0" @click.stop="swichNav($event)">推荐</li>
							<li v-if="imageCurrentTab==-1" :class="imageCurrentTab==1?'active':''" data-current="1" @click.stop="swichNav($event)">全部</li>
							<li :class="imageCurrentTab==2?'active':''" data-current="2" @click.stop="swichNav($event)">照片</li>
							<li :class="imageCurrentTab==3?'active':''" data-current="3" @click.stop="swichNav($event)">插图</li>
						</ul>
					</div>
				</div>

				<div class="searchGroup imageWrapper"><!-- 占位标签，占位标签，占位标签，不要动。。。 --></div>
				
				<div class="searchGroup imageWrapper imageSearchAll">
					<ul class="infoPanelGallery" id="searchAllList">
						<li class="itemGallery imageSearchAll-item" v-for="list in searchAllList">
							<a>
								<img :src="list.urlShowImage" v-bind:data-url='list.urlImage' alt="" style="width: 100%" @click.stop="setImage($event, list)">
								<span class="vip" v-if="list.typeVipUser==1"></span>
								<div class="detailInfo iconfont icon-C" title="显示更多信息" @click="imgAllDetail($event, list)"></div>
							</a>
						</li>
						<li class="noneTip" v-if="searchAllList.length == 0"></li>
					</ul>
					<div class="offsetLoading searchAllTip"></div>
				</div>

				<div class="searchGroup imageWrapper imageSearchImg" style="z-index: 10;">
					<ul class="infoPanelGallery" id="searchImgList">
						<li class="itemGallery imageSearchImg-item" v-for="list in searchImgList">
							<a>
								<img :src="list.urlShowImage" alt="" v-bind:data-url='list.urlImage' style="width: 100%" @click.stop="setImage($event, list)">
								<span class="vip" v-if="list.typeVipUser==1"></span>
								<div class="detailInfo iconfont icon-C" title="显示更多信息" @click="imgAllDetail($event, list)"></div>
							</a>
						</li>
						<li class="noneTip" v-if="searchImgList.length == 0"></li>
					</ul>
					<div class="offsetLoading searchImgTip"></div>
				</div>
				
				<div class="searchGroup imageWrapper imageSearchInsert">
					<ul class="infoPanelGallery" id="searchInsertList">
						<li class="itemGallery imageSearchInsert-item" v-for="list in searchInsertList">
							<a>
								<img :src="list.urlShowImage" alt="" style="width: 100%" @click.stop="setImage($event, list)">
								<span class="vip" v-if="list.typeVipUser==1"></span>
								<div class="detailInfo iconfont icon-C" title="显示更多信息" @click="imgAllDetail($event, list)"></div>
							</a>
						</li>
						<li class="noneTip" v-if="searchInsertList.length == 0"></li>
					</ul>
					<div class="offsetLoading searchInsertTip"></div>
				</div>
				<div class="infoPanel resultsSearchInfo">
					<span class="delete iconfont icon-quxiao" @click.stop="closeDetailInfo($event)"></span>
					<h3 class="title">{{imgCurInfo.source}}</h3>
					<div class="detailType" v-if="imgCurInfo.text">
						<h4>名称</h4>
						<p>{{imgCurInfo.text}}</p>
					</div>
					<div class="detailType">
						<h4>ID</h4>
						<a class="idColor">{{imgCurInfo.imageID}}</a>
					</div>
					<div class="detailType">
						<h4>价格</h4>
						<span v-if="imgCurInfo.fileType==0 || imgCurInfo.fileType==1">
							<p v-if="imgCurInfo.priceStandardUser==0">免费</p>
							<span class="authorize" v-if="imgCurInfo.priceStandardUser!=0">
								<h5>标准授权</h5>
								<p>￥ {{imgCurInfo.priceStandardUser}}.00</p>
							</span>
							<span class="authorize" v-if="imgCurInfo.priceExtendUser!=0">
								<h5>扩展授权</h5>
								<p>￥ {{imgCurInfo.priceOnceUser}}.00</p>
							</span>
						</span>
						<span v-if="imgCurInfo.fileType==2">
							<p v-if="imgCurInfo.priceOnceUser==0">免费</p>
							<p v-if="imgCurInfo.priceOnceUser!=0">￥ {{imgCurInfo.priceOnceUser}}.00</p>
						</span>
					</div>
					<div class="detailType" v-if="imgCurInfo.keyWords">
						<h4>关键词</h4>
						<p>
							<span>{{imgCurInfo.keyWords}}</span>
						</p>
					</div>
				</div>
            </section>
            <section class="tableList tableListFont">
                <span class="title">文字</span>
                <ul class="fontType">
                    <li><a class="addTitle" @click="setText" fontType='1' data-style="title">添加标题文字</a></li>
                    <li><a class="addSubTitle" @click="setText" fontType='2' data-style="subtitle">添加副标题文字</a></li>
                    <li><a class="addBody" @click="setText" fontType='3' data-style="body">添加正文文字</a></li>
                </ul>
            </section>
            <section class="tableList tableListBackground" id="backgroundColor">
                <span class="title">背景</span>
                <div class="colorControls">
                    <div class="workingPalette">
                        <h3 class="colorPaletteLabel">文档颜色</h3>
                        <ul class="colorPaletteGroup">
                            <li class="colorPaletteAdd" style="color: transparent;" @click.stop="getPickerPalette($event, 'bg')"></li>
							
                        </ul>
                    </div>
                    <!-- 调色板 -->
			        <div class="colorPicker colorPicker2">
			        	<div class="colorText">
			        		<label>color：</label>
			        		<input type="text" name="color" id="pickerPaletteText2">
			        	</div>
			        	<div id="pickerPalette2"></div>
			        </div>
                    <div class="pinnedPalette">
                        <h3 class="colorPaletteLabel">预设颜色</h3>
                        <ul class="colorPaletteGroup">
                            <li class="colorPaletteEntry" title="#ff5c5c" style="color: #ff5c5c;"></li>
                            <li class="colorPaletteEntry" title="#ffbd4a" style="color: #ffbd4a;"></li>
                            <li class="colorPaletteEntry" title="#fff952" style="color: #fff952;"></li>
                            <li class="colorPaletteEntry" title="#99e265" style="color: #99e265;"></li>
                            <li class="colorPaletteEntry" title="#35b729" style="color: #35b729;"></li>
                            <li class="colorPaletteEntry" title="#44d9e6" style="color: #44d9e6;"></li>
                            <li class="colorPaletteEntry" title="#2eb2ff" style="color: #2eb2ff;border-bottom-right-radius: 4px;"></li>
                            <li class="colorPaletteEntry" title="#5271ff" style="color: #5271ff;"></li>
                            <li class="colorPaletteEntry" title="#b760e6" style="color: #b760e6;"></li>
                            <li class="colorPaletteEntry" title="#ff63b1" style="color: #ff63b1;border-bottom-right-radius: 4px;"></li>
                        </ul>
                        <ul class="colorPaletteGroup" style="margin-top: 20px;">
                            <li class="colorPaletteEntry" title="#000000" style="color: #000000;"></li>
                            <li class="colorPaletteEntry" title="#666666" style="color: #666666;"></li>
                            <li class="colorPaletteEntry" title="#a8a8a8" style="color: #a8a8a8;"></li>
                            <li class="colorPaletteEntry" title="#d9d9d9" style="color: #d9d9d9;"></li>
                            <li class="colorPaletteEntry" title="#ffffff" style="color: #ffffff;border-bottom-right-radius: 4px;border-top-right-radius: 4px;"></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="tableList tableListupload">
                <span class="title">上传</span>
                <div class="masonryLayout">
                	<div class="masonryLayoutColumn">
                		<div class="uploadsFolder" :class="uploadCurrentTab==0?'uploadsFolderOpen':''" @click.stop="swichuploadNav($event, 0)">
                			<div class="uploadsFolderThumbnail uploadsFolderThumbnailLandscape">
                				<img src="../../images/upload-image.png" alt="">
                			</div>
                			<div class="uploadsFolderName">
                				<span>我的上传</span>
                			</div>
                		</div>
                	</div>
                	<div class="masonryLayoutColumn">
                		<div class="uploadsFolder" :class="uploadCurrentTab==1?'uploadsFolderOpen':''" @click.stop="swichuploadNav($event, 1)">
                			<div class="uploadsFolderThumbnail uploadsFolderThumbnailLandscape">
                				<img src="../../images/upload-purchase.png" alt="">
                			</div>
                			<div class="uploadsFolderName">
                				<span>我的购买</span>
                			</div>
                		</div>
                	</div>
                	<div class="inlineContentPointer"></div>
                </div>
                <div class="searchGroup uploadWrapper uploadImage" style="z-index: 10;" @drop="drop($event)" @dragenter="dragenter($event)" @dragover="dragover($event)">
                	<div class="uploadsFolderContent">
                		<button>上传你的专属图片</button>
                		<input type="file" name="file" @change="fileChange($event)" multiple>
                	</div>
					<ul class="infoPanelGallery" id="uploadImage">
						<li class="itemGallery uploadImage-item" v-for="(index, list) in uploadLists">
							<a>
								<img :src="list.showImageUrl" v-bind:data-url='list.showImageUrl' alt="" style="width: 100%" @click.stop="setImage($event, list)">
								<span class="uploadProgressDel" @click.stop="fileDel( index, list.uploadImageID)"></span>
								<!-- <div class="uploadProgressBar">
					                <div class="uploadProgressBarFill" :style="{ width: list.file.uploadPercentage+'%' }"></div>
					            </div> -->
							</a>
						</li>
						<li class="noneTip2" v-if="uploadLists.length == 0">上传你的专属图片</li>
					</ul>
					<div class="offsetLoading uploadImageTip"></div>
				</div>
				<div class="searchGroup uploadWrapper purchaseImage">
					<ul class="infoPanelGallery" id="purchaseImage">
						<li class="itemGallery purchaseImage-item" v-for="list in purchaseLists">
							<a>
								<img :src="list.urlShowImage" v-bind:data-url='list.urlImage' alt="" style="width: 100%" @click.stop="setImage($event, list)">
								<span class="free" v-if="list.priceOnceUser==0">免费</span>
								<span class="vip" v-if="list.priceOnceUser!=0"></span>
								<div class="detailInfo iconfont icon-C" title="显示更多信息" @click="imgAllDetail($event, list)"></div>
							</a>
						</li>
						<li class="noneTip2" v-if="purchaseLists.length == 0">此处会显示你购买的所有具有多次使用或扩展许可证的图片。</li>
					</ul>
					<div class="offsetLoading searchAllTip"></div>
				</div>
            </section>
        </section>
        <!-- 操作区 -->
        <section id="documentContainer" class="documentContainer">
            <!-- 颜色操作区 -->
            <div class="toolbarWrapper">
                <ul class="toolbarRight">
                    <!--复制-->
                    <li class="toolbarItem toolbar_oper toolbar__item--copy enabled  ">
                        <button class="toolbar__button toolbar__button--copy ">
                            <span class="toolbar__label toolbar__label--copy">复制</span>
                            <span class="toolbar__spinner"></span>
                        </button>
                    </li>
                    <!--排列-->
                    <li class="toolbarItem toolbar_oper toolbar__item--range enabled ">
                        <button class="toolbar__button toolbar__button--range ">排列</button>
                        <div class="toolbar--range">
                            <ul>
                                <li class="up rank toolbar__item--slider" onclick='topClass("up")'>
                                    <button class="toolbar__label toolbar__label--range">上移</button>
                                </li>
                                <li class="down rank toolbar__item--slider" onclick='topClass("down")'>
                                    <button class="toolbar__label toolbar__label--range">下移</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="toolbarItem toolbar_oper">
                        <button class="transparency toolbar_button toolbar__button--transparency"></button>
                        <!-- 透明度修改 -->
                        <div class="toolbar toolbar--transparency">
                            <ul>
                                <li class="toolbar__item--slider">
                                    <label class="toolbar__label toolbar__label--transparency">透明度</label>
                                    <div class="toolbar__sliderWrapper">
                                        <div class="toolbar__sliderBackground"></div>
                                        <input class="toolbar__slider toolbar__slider--transparency transparencySliderInput" type="range" min="0" max="100" step="1">
                                    </div>
                                    <input class="toolbar__sliderValue toolbar__sliderValue--transparency" type="number" min="0" max="100" step="1" value="100" disabled="disabled">
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--链接-->
                    <li class="toolbar__item toolbar__item--link enabled  toolbar__item--submenu toolbar__item--submenuExpanded">
                        <button class="toolbar__button toolbar__button--link toolbar__button--icon">
                            <span class="toolbar__label toolbar__label--link">链接</span>
                        </button>
                        <div class="toolbar--link">
                            <ul>
                                <li class="toolbar__item--slider">
                                    <label class="toolbar__label toolbar__label--link">link</label>
                                </li>
                            </ul>
                        </div>
                    <li class="remove toolbarItem toolbar_oper">
                        <button class="delete deleteIcon toolbar_button"></button>
                    </li>
                </ul>
                <ul class="toolbarBox toolbarList">

                </ul>
                <!--网格间距功能-->
                <ul class="toolbarBox toolbarGridSpacing">
                	<li class="gridBtn">间距</li>
                	<div class="GridSpacing">
                        <div class="GridSpacingBox">
                            <div class="GSpacing">
                                <label class="GridLabel">间距</label>
                                <input class="Gridinput" type="range" min="0" max="50" step='1' />
                            </div>
                            <span class="showGridinput">1</span>
                        </div>
                    </div>
                	
                </ul>
                <ul class="toolbarBox toolbarFilter">
                    <!-- <li class="toolbarItem">
                        <button class="filter toolbar_button">滤镜</button>
                    </li> -->
                    <li class="toolbarItem">
                        <button class="cut toolbar_button">裁剪</button>
                    </li>
                    <li class="toolbarItem">
                        <button class="rotate toolbar_button changeRotate">翻转</button>
                        <div class="toolbar rotateBtn toolbar--rotate">
                            <ul>
                                <li class="toolbarItem routerY">水平翻转</li>
                                <li class="toolbarItem routerX">垂直翻转</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="toolbarBox toolbarFont toolbarLeft">
                    <div class="textBoxbtn">
                        <!-- 修改文字字体 -->
                        <div class="font">
                            <div class="fontbar"></div>
                            <div class="loading_font">
							        <span></span>
							        <span></span>
							        <span></span>
							        <span></span>
							        <span></span>
							</div>
                            <div class="fontList" style="display: none;">
                                <ul class="fontList__inner">
                                   <!-- <li data-fontfamily = "STCaiyun" style="font-family: STCaiyun;"></li>-->
                                    <li class="moren" data-fontfamily='STXianhei' data-chinaName='华文线黑'><img src="../../images/workimg/STXianhei.png" /><li/>

                                </ul>
                            </div>
                        </div>
                        <!-- 修改文字大小 -->
                        <div class="fontSizeBox">
                            <input class="sizebar" />
                            <div class="sizeList" style="display: none;">
                                <ul class="sizeList__inner">
                                    <li data-size='6'>6</li>
                                    <li data-size='8'>8</li>
                                    <li data-size='10'>10</li>
                                    <li data-size='12'>12</li>
                                    <li data-size='14'>14</li>
                                    <li data-size='16'>16</li>
                                    <li data-size='18'>18</li>
                                    <li data-size='21'>21</li>
                                    <li data-size='24'>24</li>
                                    <li data-size='28'>28</li>
                                    <li data-size='32'>32</li>
                                    <li data-size='36'>36</li>
                                    <li data-size='42'>42</li>
                                    <li data-size='48'>48</li>
                                    <li data-size='56'>56</li>
                                    <li data-size='64'>64</li>
                                    <li data-size='72'>72</li>
                                    <li data-size='80'>80</li>
                                    <li data-size='88'>88</li>
                                    <li data-size='96'>96</li>
                                    <li data-size='104'>104</li>
                                    <li data-size='120'>120</li>
                                    <li data-size='144'>144</li>
                                </ul>
                            </div>
                        </div>
                        <!--边线-->
                        <span class="Lines"></span>
                        <!-- 修改文字颜色 -->
                        <div class="colorBox">
                            <div class="colorbar"></div>
                            <div class="colorList" style="display: none;">
                                <ul class="colorList__inner">
                                    <li data-color='bisque'></li>
                                    <li data-color='salmon'></li>
                                    <li data-color='block'></li>
                                    <li data-color='red'></li>
                                    <li data-color='green'></li>
                                    <li data-color='white'></li>
                                    <li data-color='gold'></li>
                                </ul>
                            </div>
                        </div>
                        <!--边线-->
                        <span class="Lines"></span>
                        <!--加粗-->
                        <div class="font-bold">
                            <div class="bold-icon font-icon"></div>
                        </div>
                        <!--斜体-->
                        <div class="font-italic">
                            <div class="italic-icon font-icon"></div>
                        </div>
                        <!-- 修改文字排列方式 -->
                        <div class="textAlign" data-align="center">
                            <div class="alignbar font-icon"></div>
                            <div class="alignList ">
                                <div data-align='left' class="textAlign_left font-icon"><img class="font-icon_" src="../../images/workimg/text-align-left.svg" alt=""></div>
                                <div data-align='center' class="textAlign_center font-icon"><img class="font-icon_" src="../../images/workimg/text-align-center.svg" alt=""></div>
                                <div data-align='right' class="textAlign_right font-icon"><img class="font-icon_" src="../../images/workimg/text-align-right.svg" alt=""></div>
                            </div>
                        </div>

                        <!--大小写转换-->
                        <div class="font-upercase">
                            <div class="upercase-icon font-icon"></div>
                        </div>
                        <!--列表-->
                        <div class="font-list">
                            <div class="list-icon font-icon" list-layout="false"></div>
                        </div>
                        <!-- 修改文字间距 -->
                        <div class="spacingBox">
                            <div class="spacingbar">间距</div>
                            <div class="spacingList">
                                <div class="letterBox">
                                    <div class="letterSpacing">
                                        <label class="letterLabel">字间距</label>
                                        <input class="wordSpacing" type="range" min="-200" max="800" step='10' />
                                    </div>
                                    <span class="showSpacing"></span>
                                </div>
                                <div class="LineBox">
                                    <div class="LineSpacing">
                                        <label class="LineLabel">行间距</label>
                                        <input class="LineSp" type="range" min="0.5" max="2.5" step='0.1' />
                                    </div>
                                    <span class="showLine"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 裁剪确定取消 -->
            <div class="cutingBoxbtn">
                <div class="toolbarItem toolbar_oper">
                    <button class="btnOk toolbar_button"></button>
                </div>
                <div class="toolbarItem toolbar_oper">
                    <button class="btnclose toolbar_button"></button>
                </div>
            </div>


            <div id="canvaDocument" class="canvaDocument">
                <div class="mask"></div>

                <div class="cropControls" style="display: none;">
                    <div id="viewPort" class="viewPort">
                        <div class="inner">
                            <img class="masked" src="" alt="" />
                        </div>
                        <span id="dragLeftTop1" style="">
                        </span>
                        <span id="dragLeftBot1" style="">
                        </span>
                        <span id="dragRightTop1" style="">
                        </span>
                        <span id="dragRightBot1" style="">
                        </span>
                    </div>
                    <div id="cropBox" class="cropBox">
                    	<div class="uncropbox">
	                        <img class="uncropped" draggable=false src="" alt="" />
	                        <span class="tl" draggable="true" style="cursor: nwse-resize;"></span>
	                        <span class="tr" draggable="true" style="cursor: nesw-resize;"></span>
	                        <span class="br" draggable="true" style="cursor: nwse-resize;"></span>
	                        <span class="bl" draggable="true" style="cursor: nesw-resize;"></span>
                    	</div>
                    </div>
                </div>

                <div class="page">
                    <div id="page_content" class="page_content" style="width: 600px;height: 500px;background: #fff;margin-top: 100px;">
                        <!--<div class="viewBox"></div>-->
						<!--<div class="element grid" elementtype='grid'>
							<div class="gridinner">
								<div class="rows">
									<div class="columns">
										<div class="item">
											<div class="item_content" elementType='img'>
												<div class="vignette"></div>
												<div class="zoomimg placeholder">
													<img src="https://media-public.canva.com/MABKNA782OM/1/screen.jpg" alt="" />
												</div>
											</div>
										</div>
										
										<div class="item">
											<div class="item_content" elementType='img'>
												<div class="vignette"></div>
												<div class="zoomimg placeholder">
													<img src="https://media-public.canva.com/MABKNA782OM/1/screen.jpg" alt="" />
												</div>
											</div>
										</div>
										
										<div class="item">
											<div class="item_content" elementType='img'>
												<div class="vignette"></div>
												<div class="zoomimg placeholder">
													<img src="https://media-public.canva.com/MABKNA782OM/1/screen.jpg" alt="" />
												</div>
											</div>
										</div>
									</div>
								</div>
								
								
								
								
							</div>
						</div>-->
						
						
						
						
						
						
						
						
						
						
                    </div>
                </div>
            </div>
            <!--图片缩放框区域-->
            <div id="zoomImgbox" class="zoomImgbox">
            	<div class="zoomBorder"></div>
                <div class="resizable">
                    <span class="tl" draggable="true" style="cursor: nwse-resize;"></span>
                    <!--<span class="t" draggable="true" style="cursor: ns-resize;"></span>-->
                    <span class="tr" draggable="true" style="cursor: nesw-resize;"></span>
                    <!--<span class="r" draggable="true" style="cursor: ew-resize;"></span>-->
                    <span class="br" draggable="true" style="cursor: nwse-resize;"></span>
                    <!--<span class="b" draggable="true" style="cursor: ns-resize;"></span>-->
                    <span class="bl" draggable="true" style="cursor: nesw-resize;"></span>
                    <!--<span class="l" draggable="true" style="cursor: ew-resize;"></span>-->
                </div>
                <div id="rotatebox" class="rotatebox">
                	<div class="line"></div>
                </div>
            </div>

            <!--添加文字与编辑文字时的操作框-->
            <div class="editTextBox element text">
                <div class="TextInner" contenteditable="true"><!-- isTitltbg = 'false'-->
                </div>
            </div>
            <!--文字框的拉伸、拖放、旋转功能层-->
            <div class="playTextBox" style="z-index: 2">
            	<div class="playBorder">
            	</div>
                <!--<<span class="tl" draggable="true" style="cursor: nwse-resize;"></span>
                <span class="t" draggable="true" style="cursor: ns-resize;"></span>
                <span class="tr" draggable="true" style="cursor: nesw-resize;"></span>-->
                <span class="r_" draggable="true" style="cursor: ew-resize;"></span>
               <!--<span class="br" draggable="true" style="cursor: nwse-resize;"></span>
                <span class="b" draggable="true" style="cursor: ns-resize;"></span>
                <span class="bl" draggable="true" style="cursor: nesw-resize;"></span>-->
                <span class="l_" draggable="true" style="cursor: ew-resize;"></span>


                <div id="Textmove"></div>
                <div id="textRotatebox">
                    <div class="line" style=" left: 10px; top: -23px;"></div>
                    <img src="../../images/rotate1.png" alt="">
                </div>
                <!--拖动编辑框-->
                <!--<a class="editboxClickEvent" style="position: absolute;display: inline-block;border: 1px solid #333;top: -6px;"></a>-->
                <!--拖拽时展示尺寸（宽高）-->
                <div class="dragShow_wh"><span class="dragShow_whtext"></span></div>
            </div>

            <!--图层组缩放框区域-->
            <div id="zoomGroupbox" class="zoomGroupbox">
                <div class="zoomGroupBorder"></div>
                <div class="resizableGroup">
                    <span class="tl_group" draggable="true" style="cursor: nwse-resize;"></span>
                    <!--<span class="t" draggable="true" style="cursor: ns-resize;"></span>-->
                    <span class="tr_group" draggable="true" style="cursor: nesw-resize;"></span>
                    <!--<span class="r" draggable="true" style="cursor: ew-resize;"></span>-->
                    <span class="br_group" draggable="true" style="cursor: nwse-resize;"></span>
                    <!--<span class="b" draggable="true" style="cursor: ns-resize;"></span>-->
                    <span class="bl_group" draggable="true" style="cursor: nesw-resize;"></span>
                    <!--<span class="l" draggable="true" style="cursor: ew-resize;"></span>-->
                </div>
                <div id="rotate_groupbox" class="rotate_groupbox">
                    <div class="line"></div>
                </div>
            </div>
        </section>
    </div>

    <!-- 设置文件名弹层 -->
    <div class="modalContent" v-show="docNameFlag">
        <div class="modalContentMask" @click.native="docuName()"></div>
        <div class="dialog descriptionPopOver">
            <div class="pointer"></div>
            <h2 class="descTitle">设计名称</h2>
            <textarea class="textInput" v-model="currentName"></textarea>
            <span class="descTip" v-if="this.currentName.length>255">抱歉，标题长度必须小于<br>255 个字符。</span>
            <button class="descButton" @click="docuName()">完成</button>
        </div>
    </div>
    <!-- 下载弹层 -->
    <div class="modalContent" v-show="downFlag">
        <div class="modalContentMask" @click.native="downFlag = !downFlag"></div>
        <div class="dialog exportPopOver">
            <div class="pointer"></div>
            <div class="exporPopcont">
                <div class="downWrapper-header">
                    <h2 class="title">文件类型</h2>
                    <a class="infoLink" title="有哪些不同的文件类型？" @click="formatFlag = !formatFlag"></a>
                </div>
                <div class="downWrapper-container">
                    <div class="downWrapper-option">
                        <select>
                            <option value="jpg">JPG</option>
                            <option selected value="png">PNG（建议）</option>
                            <option value="standardPdf">PDF - 标准</option>
                            <option value="printPdf">PDF - 打印</option>
                        </select>
                    </div>
                    <div class="downWrapper-pageRang" style="display: none;"></div>
                </div>
                <div class="downBtn">
                	<!-- <button class="buttonBlock" @click.native="fluidFlag = !fluidFlag">下载</button> -->
                    <button class="buttonBlock" @click="toDown()">下载</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 文件类型弹层 -->
    <div class="modalContent" v-if="formatFlag">
        <div class="modalContentMask" style="opacity: .5;" @click.native="formatFlag = !formatFlag"></div>
        <div class="dialog fileTypesDialog">
            <h2 class="dialog-title">不同文件格式说明</h2>
            <div class="dialog-content">
                <ul>
                    <li>
                        <img class="dialogCont-ico" src="../../images/pop-png-ico.png" alt="" width="33" height="40">
                        <p class="dialogCont-desc"><strong>PNG</strong>非常适合插图·文字和图形·照片，对文件大小没有要求。 唯一支持透明度的文件类型。</p>
                    </li>
                    <li>
                        <img class="dialogCont-ico" src="../../images/pop-jpg-ico.png" alt="" width="33" height="40">
                        <p class="dialogCont-desc"><strong>JPG</strong>非常适合照片和细节图片。文件较小。</p>
                    </li>
                    <li>
                        <img class="dialogCont-ico" src="../../images/pop-pdf1-ico.png" alt="" width="33" height="40">
                        <p class="dialogCont-desc"><strong>PDF-标准</strong>非常适合插画·文字和图形。适合不用于打印的照片（96dpi）。</p>
                    </li>
                    <li>
                        <img class="dialogCont-ico" src="../../images/pop-pdf2-ico.png" alt="" width="33" height="40">
                        <p class="dialogCont-desc"><strong>PDF-打印</strong>非常适合照片·插画·文字和图形。裁剪标记和出 血线。适合高质量印刷（300dpi）。</p>
                    </li>
                </ul>
                <div class="dialog-button"><button @click="formatFlag = !formatFlag">了解了！</button></div>
            </div>
            <a class="close" title="Close this dialog" @click="formatFlag = !formatFlag"></a>
        </div>
    </div>
    <!-- 显示下载信息弹层 -->
    <qrcode-pay :parenteles="elements" :templateid="414" v-if="qrPayFlag" @changemyflag="changeMyFlag()"></qrcode-pay>
    <!--下载进度条弹层-->
    <div class="modalContent_ downProcess" >
        <div class="modalContentMask_" style="opacity: .5;"></div>
        <div class="dialog_ fileTypesDialog_">
            <h2 class="dialog-title">请稍后正在生成您的设计作品</h2>
            <div class="dialog-content" id="process_conva">
            </div>
            <a class="close" title="Close this dialog" onclick="$.closeFinish('downProcess')"></a>
        </div>
    </div>
    <!--&lt;!&ndash;下载完成弹层&ndash;&gt;-->
    <div class="modalContent_ downFinish" >
        <div class="modalContentMask_" style="opacity: .5;"></div>
        <div class="dialog_ fileTypesDialog_">
            <h2 class="dialog-title">您的作品已经生成完毕并且下载到本地</h2>
            <p>下载应该自动开始，如果没有，请点击<span class="repeatDown" onclick="$.dataSync('down')">重新下载</span></p>
            <a class="close" title="Close" onclick="$.closeFinish('downFinish')"></a>
        </div>
    </div>
    <!--&lt;!&ndash;下载空白页弹层&ndash;&gt;-->
    <div class="modalContent_ downNull" >
        <div class="modalContentMask_" style="opacity: .5;"></div>
        <div class="dialog_ fileTypesDialog_">
            <h2 class="dialog-title">下载时出现问题</h2>
            <p>你的设计师空白的，请在下载之前尝试添加一些元素</p>
            <a class="close" title="Close" onclick="$.closeFinish('downNull')"></a>
        </div>
    </div>
    <!--文字字形加载-->
    <div class="modalContent_ text_font">
        <div class="loading-textgif">
            <img src="../../images/loading.gif" alt="文字字体加载中！">
        </div>
        <a class="close" title="Close" onclick="$.closeFinish('text_font')"></a>
    </div>
    <!-- 操作区域菜单下拉 -->
    <div id="overlays">
    	<!-- 小弹层提示框 -->
		<div class="finalTip"></div>
        <!-- 颜色调色板 -->
        <div class="colorControls scrollableWrapper" style="display: none;">
            <div class="scrollElement">
                <div class="workingPalette">
                    <h3 class="colorPaletteLabel">文档颜色</h3>
                    <ul class="colorPaletteGroup">
                        <li class="colorPaletteAdd" style="color: transparent;" @click.stop="getPickerPalette($event)"></li>

                    </ul>
                </div>
                <div class="pinnedPalette">
                    <h3 class="colorPaletteLabel">预设颜色</h3>
                    <ul class="colorPaletteGroup">
                        <li class="colorPaletteEntry" title="#ff5c5c" style="color: #ff5c5c;"></li>
                        <li class="colorPaletteEntry" title="#ffbd4a" style="color: #ffbd4a;"></li>
                        <li class="colorPaletteEntry" title="#fff952" style="color: #fff952;"></li>
                        <li class="colorPaletteEntry" title="#99e265" style="color: #99e265;"></li>
                        <li class="colorPaletteEntry" title="#35b729" style="color: #35b729;border-top-right-radius: 4px;"></li>
                        <li class="colorPaletteEntry" title="#44d9e6" style="color: #44d9e6;"></li>
                        <li class="colorPaletteEntry" title="#2eb2ff" style="color: #2eb2ff;"></li>
                        <li class="colorPaletteEntry" title="#5271ff" style="color: #5271ff;"></li>
                        <li class="colorPaletteEntry" title="#b760e6" style="color: #b760e6;"></li>
                        <li class="colorPaletteEntry" title="#ff63b1" style="color: #ff63b1;border-bottom-right-radius: 4px;"></li>
                    </ul>
                    <ul class="colorPaletteGroup" style="margin-top: 20px;">
                        <li class="colorPaletteEntry" title="#000000" style="color: #000000;"></li>
                        <li class="colorPaletteEntry" title="#666666" style="color: #666666;"></li>
                        <li class="colorPaletteEntry" title="#a8a8a8" style="color: #a8a8a8;"></li>
                        <li class="colorPaletteEntry" title="#d9d9d9" style="color: #d9d9d9;"></li>
                        <li class="colorPaletteEntry" title="#ffffff" style="color: #ffffff;border-bottom-right-radius: 4px;border-top-right-radius: 4px;"></li>
                    </ul>
                </div>
                <div class="mCustomScrollbar"></div>
            </div>
        </div>
        <!-- 调色板 -->
        <div class="colorPicker colorPicker0">
        	<div class="colorText">
        		<label>color：</label>
        		<input type="text" name="color" id="pickerPaletteText">
        	</div>
        	<div id="pickerPalette"></div>
        </div>
    </div>
    <!--文字拉伸隐藏容器，用于计算当前容器的高度-->
    <!--<div class="textPillBox" style="display: none"><div class="textPillInner"></div></div>-->
</div>
</body>
</html>
